@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


*, 
*:before, 
*:after {
 
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}


.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1680px;
  
  margin: 0 auto;
}


body {
  font-family: 'Lato', 'Arial', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #848789;
}

p {
  line-height: 1.89;
}

.section-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


/* Styles for SECTION-BIG */
.section-big {
  padding: 115px 0 145px;
  text-align: center;
}

.heading-img {
  width: 53px;
  height: 42px;
}

.title-18 {
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.5;
  color: #353738;
  font-size: 18px;
  text-transform: uppercase;
}

.section-big .heading-img {
  margin-bottom: 35px;
}

.section-big .title-18 {
  margin-bottom: 32px;
}

.section-big p {
  max-width: 1080px;
  width: 100%;
}
