@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?reiaa2');
    src:  url('../fonts/icomoon.eot?reiaa2#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?reiaa2') format('truetype'),
      url('../fonts/icomoon.woff?reiaa2') format('woff'),
      url('../fonts/icomoon.svg?reiaa2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 28px;
    
    
   
    
   
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\e900";
    color: rgb(255, 255, 255);
    background-color: #537bbd;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: block;
    text-align: center;
    line-height: 44px;
    
  }
 
  
  .icon-twitter:before {
    content: "\ea96";
    color: rgb(255, 255, 255);
    background-color:#78cdf0;
    border-radius: 50%;
    
    width: 44px;
    height: 44px;
    display: block;
    text-align: center;
    line-height: 44px;
    
  
  }
  .icon-pinterest2:before {
    content: "\ead2";
    color: rgb(255, 255, 255);
    background-color:#eb5755;
    border-radius: 50%;
    
    width: 44px;
    height: 44px;
    display: block;
    text-align: center;
    line-height: 44px;
   
    
  }
  