@media (max-width: 902px) {

  .about-text p {
    font-size: 14px;
    width: 100%;
  }

  .about__text-block {
    padding: 50px 30px 40px;
  }
  }
  @media (max-width: 706px) {
    .social a {
      margin: 0 5px;
      padding: 5px;
    
    }
  }
  @media (max-width: 868px) {
    

    .swiper-desc {
      width: 700px;
    }


  }

@media (max-width: 684px) {
  .row {
    display: block;
  }
  .column-small {
    width: 100%;
  }

  .column-big {
    padding: 110px;
  }
  .gallery-wrap {
    height: 300px;
  }

.swiper-text {
  font-weight: 700;
}

}
@media (max-width: 672px) {
  .swiper-desc {
    width: 400px;
  }
}


  .navigation li {
    padding: 5px 15px;
  }
@media (max-width: 680px) {
  .navigation li {
    padding: 5px 15px;
  }

  .header .logo {
    width: 72px;
    margin: 0 35px;
  }
}


@media (max-width: 600px) {
  .footer-wrapper {
    display: block;
  }

  .footer-text {
    width: 100%;
    text-align: center;
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px;
  }

  .footer {
    padding: 80px 0 50px;
  }

  #your_email {
    width: 250px;
    padding: 10px;
  }

  #submit {
    width: 80px;
    padding:10px ;
  }
  }



@media (max-width: 480px) {
  /* BURGER-MENU-STYLES */
  .burger-btn {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url('../images/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 8;
  }
  .navigation {
    display: none;
  }
  .navigation_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .navigation_active .left-navigation,
  .navigation_active .right-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  .navigation_active .logo {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .navigation_active li,
  .left-navigation li:last-child,
  .right-navigation li:first-child {
    padding: 0;
  }
  .navigation_active ul a {
    padding: 30px;
    font-size: 16px;
  }
  .right-navigation li:first-child:before,
  .left-navigation li:last-child:after {
    display: block;
  }
  .navigation li:after,
  .navigation li:before {
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .navigation_active .logo {
    position: absolute;
    bottom: 15px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .burger-btn_active {
    background-image: url('../images/menu-close.svg');
  }
  /* BURGER-MENU-STYLES */

  body {
    font-size: 16px;
  }
  .section-big {
    padding: 85px 0 105px;
  }

  .title-18 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .section-big p {
    width: 400px;
  }
}
@media (max-width: 410px) {
  .section-big {
   text-align: justify;
  }
  .section-big p {
    max-width: 320px;
  }
  .section-big h3 {
    text-align: center;
  }
  
  .p {
    font-size: 14px;
    text-align: justify;
  }

}
@media (max-width: 400px) {
  #your_email {
    width: 180px;
    padding: 10px;
    font-size: 14px;
  }

  #submit {
    width: 60px;
    padding:10px;
    font-size: 14px;
  }


}
@media (max-width: 342px) {
  .section-big p {
    max-width: 280px;
  }

  .swiper-desc {
    max-width: 300px;
  }

  .gallery-wrap {
    height: 250px;
  }
  

}