

.header {
  padding: 35px 0; 
  position: absolute;
  top:0;
  width: 100%;
  z-index: 5;
}

.header .logo {
  width: 94px;
  margin: 0 65px;
}

.burger-btn {
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.navigation {
  font-weight: 700;
  font-size: 13px;
  color: #4d4959;
  text-transform: uppercase;
}

.navigation,
.navigation .left-navigation,
.navigation .right-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .left-navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation .right-navigation {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation li {
  padding: 5px 35px;
  position: relative;
}

.left-navigation li:last-child {
  padding-right: 0;
}

.right-navigation li:first-child {
  padding-left: 0;
}

.left-navigation li:after {
  content: '.';
  position: absolute;
  left: 100%;
  bottom: 5px;
}

.left-navigation li:last-child:after {
  display: none;
}

.right-navigation li:before {
  content: '.';
  position: absolute;
  right: 100%;
  bottom: 5px;
}

.right-navigation li:first-child:before {
  display: none;
}

.swiper-slide {
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.generation{
  background: #f7f7f7;
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column-big{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -ms-flex-preferred-size: 96%;
      flex-basis: 96%;
}
.about__image-block{
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.column-small{
  width: 33.3%;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__text-block{
  padding: 70px 68px 54px;
  position: relative;
  background: #fff;
  text-align: center;
  min-height: 300px;
}
.about__text-block:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: calc(50% - 11px);

}
.about__text-block p{
  color: #848789;
  text-align: justify;
  margin: 0 0 38px;
  font-size: 16px;
}
.about__text-block h4{
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #353738;
  text-align: center;
  margin: 0 0 20px;
}
.about__text-block img{
  max-height: 41px;
  width: auto;
  margin: 0 0 28px;
}
.hr{
  background-color: rgba(53, 55, 56, 0.2);
  width: 50px;
  height: 1px;
  margin: 0 auto;
}
.gallery-wrap{
  height: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-wrap .column-small{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  background-color: #8c8c8c;
  
}


.gallery-item a{
  width: 100%;
  height: 100%;

  
}


.gallery-item img{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}
.w-50{
  width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #ccc;
}
.h-50{
  height: 50%;
}

.swiper-desc {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-second h5 {
color: #353738;
font-family: Lato;
font-size: 18px;
font-weight: 700;
margin-bottom: 30px;
}

.swiper-text {
  font-family: "Myriad Pro";
  font-weight: 400;
}



.swiper-desc {
  position: absolute;
  top: 0; 
  left: 0;
   bottom: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    text-align: center;
}

.swiper-desc img {
  margin-bottom: 30px;
}

.bottom-shop {
  background-color: #282f35;
  padding: 70px 0 70px;
  text-align: center;
  
}

.button {
width: 300px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.5);
background-color: #282f35;
color: #fff;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;

}

.swiper-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-headline h5 {
  margin-right: 5px;
}

.section-form {
  padding-bottom: 114px;
}
.form-description {
  
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-description img {
  padding-top: 100px;
  padding-bottom: 40px;
 
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-text {
font-family: Lato;
font-size: 24px;
font-style: italic;
line-height: 34px;
padding-bottom: 35px;
}

#your_email {
width: 400px;
padding: 19px;
border: 1px solid #d3d7d9;
background-color: #ffffff;
color: #929292;
font-family: Lato;
font-size: 20px;
font-style: italic;
line-height: 24px;
}

#submit {
  width: 126px;
  padding: 19px;
  background-color: #64c29e;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

#submit:hover {
  background-color: #ccc;
  font-weight: 700;
}

.footer {
  background-color: #f7f7f7;
  padding: 110px 0 102px;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
 
}

.footer-text {
  width: 236px;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;

}
.social a {
  margin: 0 15px;
  padding: 10px;
}

.yebo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yebo p {
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  margin-right: 10px;
}

.new-yourk {
  font-family: "Lato - Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
